.container-fluid {
  padding-top: 50px;
}

.dropdown-menu {
  max-height: 500px;
  overflow-y: scroll;

  max-width: 500px;
  overflow-x: hidden;
}

.articles, .tokens {
  max-height: 500px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 15px;
  font-size: 1rem;
  margin-top: 20px;
}
